<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Devdactic Notes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-button routerLink="/list">Open List</ion-button>
<ion-button routerLink="/search">Open SEARCH</ion-button>
 
<ion-content>
 
  <ion-list>
    <ion-item *ngFor="let note of notes" (click)="openNote(note)">
      <ion-label>
        {{ note.title }}
      </ion-label>
    </ion-item>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ion-content [fullscreen]="true">
<ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let data of notes | filter:filterTerm">

      <ion-label> {{ data.title }}      </ion-label>
      <ion-label> {{ data.text }}      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>